.mainBody {
  background: grey;
  width: 55%;
  height: 240px;
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

span {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.ant-btn-primary {
  background: #6eca93;
}